
@{
    ViewBag.Title = "Hotel List";
    Layout = "~/Views/Shared/List.cshtml";
}
@using CNW_N8_MVC.Class;
@using PagedList.Mvc;
@{ var rooms = ViewData["rooms"] as PagedList.IPagedList<ItemListRoom>;}
@{ var hotel_current = ViewData["current_hotel"] as ItemHotel;}
@{ var convenientList = ViewData["convenientList"] as IEnumerable<ItemConvenient>;}
@{ var min_people = int.Parse(ViewData["min_people"].ToString());}
@{ var max_people = int.Parse(ViewData["max_people"].ToString());}
@{ var commentList = ViewData["commentList"] as IEnumerable<ItemComment>;}
@{ var limitPeople = ViewData["limitPeople"] as String;}
@{ var priceSelect = ViewData["priceSelect"] as String;}
@{ var convenientSelect = ViewData["convenientSelect"] as IEnumerable<String>;}
@{ var username = ViewData["username"] as String;}
@{ var idAccount = ViewData["idAccount"] as String;}
@{ var message = ViewData["message"] as String;}



<section onload="alertMessage()" class="main-content bg-white">
    <div class="reason-top">
        <div class="reason-top-opacity">
            <div class="container">
                <div class="reason-top-text">
                    <b class="fs32 text-white text-capitalize">Khách Sạn 123zo</b>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accommodation-header">
            <div class="accommodation-filter mt-4 position-relative">
                <div class="location-object-result">
                    <div class="mt-3 mb-3 box-filter">
                        <div class="row">
                            <div class="col-sm-12">
                                <form method="get" action="/Hotel2/SearchEngine_Room">
                                    <div class="form-row">
                                        <div class="form-group col-3">
                                            <select class="form-control sc-input" name="priceSelect" id="exampleFormControlSelect1">
                                                @*@foreach (var it in optionList)
                                                    {
                                                        if (locationSelect == it.location_name)
                                                        {
                                                            <option selected="selected">@it.location_name</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@it.location_name</option>
                                                        }

                                                    }*@
                                                @if (priceSelect != null)
                                                {
                                                    if (priceSelect == "1")
                                                    {
                                                        <option value="1" selected="selected">Giá thấp đến cao</option>
                                                        <option value="0">Giá cao đến thấp</option>
                                                    }
                                                    else if (priceSelect == "0")
                                                    {
                                                        <option value="1">Giá thấp đến cao</option>
                                                        <option value="0" selected="selected">Giá cao đến thấp</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option value="1">Giá thấp đến cao</option>
                                                    <option value="0">Giá cao đến thấp</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-3">
                                            <select class="form-control sc-input" name="limitPeopleSelect" id="exampleFormControlSelect1">
                                                @for (int peo = min_people; peo <= max_people; peo++)
                                                {
                                                    if (limitPeople != null)
                                                    {
                                                        if (peo.ToString() + " người/phòng" == limitPeople)
                                                        {
                                                            <option selected="selected">@peo người/phòng</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@peo người/phòng</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option>@peo người/phòng</option>
                                                    }


                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col position-relative">
                                            <button type="submit" class="form-control btn btn-search text-white">TÌM KIẾM</button>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="fs20 mt-2">Thông tin khách sạn</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="sidebar">

                                <div class="form-row">
                                    <div class="col-sm-12">
                                        <div class="soutchai-item block-item" style="height:400px">
                                            <a>
                                                <div class="soutchai-item-img">
                                                    <img src="@hotel_current.Image_url" style="width:270px; height:150px" />
                                                    <div class="top-left">
                                                        <i class="fas fa-map-marker-alt fs13"></i>
                                                        <span class="t_white">@hotel_current.Address</span>
                                                    </div>
                                                </div>
                                                <ul class="">
                                                    <li class="position-relative">
                                                        <p style="font-size:17px" class="title">@hotel_current.HotelName</p>
                                                    </li>
                                                    <li class="position-relative" style="margin-top:5px">
                                                        @for (int star = 0; star < hotel_current.Star; star++)
                                                        {
                                                            <img src="~/image/unnamed.jpg" style="width:30px; height:30px" />
                                                        }

                                                    </li>
                                                    <p class="fs12 text-grey">
                                                    <p style="font-size:13px; margin-top:6px">@hotel_current.Description</p>
                                                    </p>
                                                    <li class="price pt-2">
                                                        <p class="fs12 text-grey">
                                                        <p>
                                                            <span class="latest_price color-main"><b>@hotel_current.MinPrice - @hotel_current.MaxPrice đ/ngày</b></span>
                                                        </p>

                                                        <i style="margin-top:25px; font-size:13px">
                                                            @hotel_current.AddressDetail
                                                        </i>
                                                        <p class="fs12 text-grey">
                                                        <p style="font-size:13px; margin-top:6px">Bình Luận (@hotel_current.TotalComment)</p>
                                                        </p>

                                                        </p>
                                                    </li>
                                                </ul>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="row" style="margin-top:15px">
                                <div class="col-sm-5">
                                    <b style="font-size:16px; margin-top:10px">Tiện nghi</b>
                                </div>
                            </div>
                            <div class="sidebar">

                                <div class="form-row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            @foreach (var it in convenientList)
                                            {
                                                <div class="form-row" style="display:flex; justify-content:center; align-items:center; margin-top:20px">
                                                    <img src="@it.Convenient_image" style="width:25px; height:25px" />
                                                    <b style="margin-left:15px;">@it.Convenient_name</b>
                                                    @if (convenientSelect.Contains(it.Convenient_id.ToString()))
                                                    {
                                                        <input type="checkbox" id="" name="convenient+@it.Convenient_id" checked="checked" style="margin-left:20px; align-content:center; font-family" />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="" name="convenient+@it.Convenient_id" style="margin-left:20px; align-content:center; font-family" />
                                                    }
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>




                        <div class="col-sm-9">

                            <div class="row pb-3">
                                @foreach (var it in rooms)
                                {
                                    <div class="col-sm-4" style="margin-top:20px;">
                                        <div class="soutchai-item block-item" style="height:450px">
                                            <a href="@Url.Action("DetailRoom", "Hotel2", new { @hotel_rooms_id = it.Hotel_rooms_id})">
                                                <div class="soutchai-item-img">
                                                    <img src="@it.Detail_header_image_url_1" style="width:270px; height:150px" />

                                                </div>
                                                <ul class="">
                                                    <li class="position-relative">
                                                        <p style="font-size:17px" class="title">Mã số phòng: @it.Hotel_rooms_id</p>
                                                    </li>
                                                    <li class="price pt-2">
                                                        <p>
                                                            <img src="~/image/price.png" style="width:25px; height:25px" />
                                                            <span class="latest_price color-main"><b>@it.Sell_price đ/ngày</b></span>
                                                        </p>
                                                        <br />
                                                        <hr />

                                                        <p style="margin-top:10px">
                                                            <img src="~/image/acreage.png" style="width:35px; height:35px" />
                                                            <b style="font-size:15px; margin-left:20px">@it.Acreage m2</b>
                                                        </p>
                                                        <p style="margin-top:10px">
                                                            <img src="~/image/bed.png" style="width:35px; height:35px" />
                                                            <b style="font-size:15px; margin-left:20px">@it.Bed_count giường</b>
                                                        </p>
                                                        <p style="margin-top:10px">
                                                            <img src="~/image/floor.png" style="width:35px; height:35px" />
                                                            <b style="font-size:15px; margin-left:20px">Tầng @it.Floors</b>
                                                        </p>
                                                        <p style="margin-top:10px">
                                                            <img src="~/image/people.png" style="width:35px; height:35px" />
                                                            <b style="font-size:15px; margin-left:20px">@it.Limit_people Người</b>
                                                        </p>


                                                    </li>
                                                </ul>
                                            </a>
                                        </div>
                                    </div>
                                }

                            </div>
                            <br />
                            <div class="sc-pagination pb-5">
                                Trang @(rooms.PageCount < rooms.PageNumber ? 0 : rooms.PageNumber) / @rooms.PageCount
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <br />
                                        @Html.PagedListPager(rooms, page => Url.Action("ListRoom", new { page }))

                                    </ul>
                                </nav>
                            </div>
                            <hr />
                            <div style="display:flex; flex-direction:column">
                                <b style="font-size:25px; margin-bottom:30px">Bình Luận</b>
                                @if(username != null) { 
                                <form method="post", action="/Hotel2/SendComment">
                                    <div hidden id="user_id">@idAccount</div>
                                    <textarea ondurationchange="textChange()" id="contentComment" name="contentComment" style="width:870px; height:70px; margin-bottom:20px"></textarea>
                                    <button type="submit" id="btnSend" style="width:150px; height:30px; margin-bottom:20px">Gửi bình luận</button>

                                </form>
                                }
                                
                                
                                @foreach (var it in commentList)
                                {
                                    <div style="display:flex; flex-direction:row; margin-top:20px">
                                        <img src="~/image/user.jpg" style="width:60px; height:50px" />
                                        <div style="display:flex; flex-direction:column">
                                            <b style="font-size:15px; color:blue; margin-left:10px">@it.Username</b>
                                            <ul style="font-size:15px; margin-left:10px">
                                                @it.Content
                                            </ul>
                                            <br />
                                            
                                        </div>


                                    </div>
                                }

                            </div>

                        </div>
                    </div>
                </div>
            </div>

</section>
<script src="~/Scripts/js/CheckComment2.js"></script>
<script>
    function textChange() {
        var text = document.getElementById("contentComment");
        if (text.value == "") {

        }
    }
</script>


